body,
html {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  gap: 10px;
  height: 100vh;
}

.box {
  width: 110px;
  height: 150px;
  background-color: #eeeff2;
  border-left: 10px dotted #D0D0ff;
  font-size: 40px;
  font-family: 'Tahoma';
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  cursor: pointer;
}


.box:hover {
  background-color: yellow;
  color: goldenrod;
}

.box:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}